<div class="container">
  <h1 class="mt-4">To-Do Application</h1>
  <hr />
  <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm" class="mt-4">
    <div class="form-group row justify-content-center">
      <div class="col-6">
        <input
          type="text"
          class="form-control col-10"
          id="task"
          placeholder="Enter task"
          ngModel
          name="task"
          required
        />
      </div>
      <div class="col-2">
        <button
          type="submit"
          class="btn btn-primary col"
          [disabled]="taskForm.invalid"
        >
          Submit
        </button>
      </div>
      <small
        id="errorMessage"
        class="form-text text-danger mt-1"
        *ngIf="taskForm.dirty && taskForm.invalid"
      >
        Required Field
      </small>
    </div>
  </form>

  <hr />

  <h3 class="text-center display-5">Current Tasks</h3>

  <div class="col" *ngFor="let t of taskArray; index as i">
    <div
      class="form-group row justify-content-center mt-2"
      *ngIf="!t.isArchived"
    >
      <div class="col-4">
        <input
          #taskInput
          type="text"
          class="form-control"
          [value]="t.taskName"
          [readOnly]="!t.isEditable"
          [ngClass]="{
            edit: t.isEditable,
            'not-edit': !t.isEditable,
            crossed: t.isCompleted
          }"
          (keyup.enter)="onSave(t.id, taskInput.value)"
        />
      </div>
      <div class="col-2">
        <div class="btn-group mr-2" role="group" style="width: 250px">
          <button
            type="button"
            class="btn btn-outline-success w-50"
            (click)="onCheck(t.id)"
            *ngIf="!t.isCompleted"
          >
            Done
          </button>
          <button
            type="button"
            class="btn btn-outline-warning w-50"
            (click)="onCheck(t.id)"
            *ngIf="t.isCompleted"
          >
            UnCheck
          </button>
          <button
            type="button"
            class="btn btn-outline-primary w-25"
            (click)="onEdit(t.id)"
            *ngIf="!t.isEditable"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-outline-warning w-25"
            (click)="onSave(t.id, taskInput.value)"
            *ngIf="t.isEditable"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-outline-danger w-25"
            (click)="onDelete(t.id)"
          >
            Del
          </button>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center display-6 mt-5">Archived Tasks</h2>

  <div class="row justify-content-center">
    <div class="btn-group-sm col-6" role="group">
      <button
        type="button"
        class="btn btn-primary me-2"
        (click)="refreshTasks()"
      >
        Refresh Tasks
      </button>
      <button
        type="button"
        class="btn btn-warning me-2"
        (click)="moveCompletedToArchive()"
      >
        Move Complete to Archive
      </button>
      <button
        type="button"
        class="btn btn-warning me-2"
        (click)="deleteArchivedTasks()"
      >
        Delete Archived tasks
      </button>
      <button
        type="button"
        class="btn btn-danger me-2"
        (click)="deleteAllTasks()"
      >
        Delete All
      </button>
    </div>
  </div>

  <div class="col" *ngFor="let t of taskArray; index as i">
    <div
      class="form-group row justify-content-center mt-2"
      *ngIf="t.isArchived"
    >
      <div class="col-4">
        <input
          #taskInput
          type="text"
          class="form-control"
          [value]="t.taskName"
          [readOnly]="!t.isEditable"
          [ngClass]="{
            edit: t.isEditable,
            'not-edit': !t.isEditable,
            crossed: t.isCompleted
          }"
          (keyup.enter)="onSave(t.id, taskInput.value)"
        />
      </div>
      <div class="col-2">
        <div class="btn-group mr-2" role="group" style="width: 250px">
          <button
            type="button"
            class="btn btn-outline-warning w-50"
            (click)="onUndoCheck(t.id)"
          >
            Undo
          </button>
          <button
            type="button"
            class="btn btn-outline-primary w-25"
            (click)="onEdit(t.id)"
            *ngIf="!t.isEditable"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-outline-warning w-25"
            (click)="onSave(t.id, taskInput.value)"
            *ngIf="t.isEditable"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-outline-danger w-25"
            (click)="onDelete(t.id)"
          >
            Del
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
