h1 {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
}

.container {
  margin-bottom: 100px;
}

#taskInTable {
  max-width: 300px;
}

.edit {
  border: solid 2px orange;
}

.not-edit {
  border: none;
  font-weight: bold;
}

.crossed {
  text-decoration: line-through;
  font-weight: normal;
}

.action-button-group {
  width: 80px;
}

.action-button-group .btn {
  padding: 4px 6px;
}

.action-button-group .btn:first-child {
  padding: 4px 16px;
}
