<div class="container">
  <h1>
    Todo - list<i
      class="bi bi-cloud-arrow-up ms-2"
      *ngIf="!isSaved"
      (click)="saveAndCopyUrl()"
    ></i>
    <i class="bi bi-cloud-check-fill text-success ms-2" *ngIf="isSaved"></i>
  </h1>
  <hr />
  <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm" class="mt-4">
    <div class="form-group row justify-content-center">
      <div class="col-8 col-md-6">
        <input
          type="text"
          class="form-control col-10"
          id="task"
          placeholder="Enter task"
          ngModel
          name="task"
          required
        />
        <small
          id="errorMessage"
          class="form-text text-danger mt-1"
          *ngIf="taskForm.dirty && taskForm.invalid"
        >
          * Required Field
        </small>
      </div>
      <div class="col-4 col-md-2 w-auto">
        <button
          type="submit"
          class="btn btn-primary col"
          [disabled]="taskForm.invalid"
        >
          Submit
        </button>
      </div>
    </div>
  </form>

  <hr />

  <h3 class="text-center display-5">Current Tasks</h3>

  <div class="col" *ngFor="let t of taskArray; index as i">
    <div
      class="form-group row justify-content-center mt-2"
      *ngIf="!t.isArchived"
    >
      <div class="col-8 col-md-4">
        <input
          #taskInput
          type="text"
          class="form-control"
          [value]="t.taskName"
          [readOnly]="!t.isEditable"
          [ngClass]="{
            edit: t.isEditable,
            'not-edit': !t.isEditable,
            crossed: t.isCompleted
          }"
          (keyup.enter)="onSave(t.id, taskInput.value)"
        />
      </div>
      <div class="col-4 col-md-2">
        <div class="btn-group mr-2 action-button-group" role="group">
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="onCheck(t.id)"
            *ngIf="!t.isCompleted"
          >
            <i class="bi bi-check-circle-fill"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-warning"
            (click)="onCheck(t.id)"
            *ngIf="t.isCompleted"
          >
            <i class="bi bi-check-circle"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="onEdit(t.id)"
            *ngIf="!t.isEditable"
          >
            <i class="bi bi-pencil"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-warning"
            (click)="onSave(t.id, taskInput.value)"
            *ngIf="t.isEditable"
          >
            <i class="bi bi-floppy"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="onDelete(t.id)"
          >
            <i class="bi bi-trash3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center display-6 mt-5">Archived Tasks</h2>

  <div class="col" *ngFor="let t of taskArray; index as i">
    <div
      class="form-group row justify-content-center mt-2"
      *ngIf="t.isArchived"
    >
      <div class="col-8 col-md-4">
        <input
          #taskInput
          type="text"
          class="form-control"
          [value]="t.taskName"
          [readOnly]="!t.isEditable"
          [ngClass]="{
            edit: t.isEditable,
            'not-edit': !t.isEditable,
            crossed: t.isCompleted
          }"
          (keyup.enter)="onSave(t.id, taskInput.value)"
        />
      </div>
      <div class="col-4 col-md-2">
        <div class="btn-group mr-2 action-button-group" role="group">
          <button
            type="button"
            class="btn btn-outline-warning"
            (click)="onUndoCheck(t.id)"
          >
            <i class="bi bi-arrow-up-square"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="onEdit(t.id)"
            *ngIf="!t.isEditable"
          >
            <i class="bi bi-pencil"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-warning"
            (click)="onSave(t.id, taskInput.value)"
            *ngIf="t.isEditable"
          >
            <i class="bi bi-floppy"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="onDelete(t.id)"
          >
            <i class="bi bi-trash3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-bottom bg-secondary-subtle">
  <p class="text-center m-auto" *ngIf="toastMessage">{{ toastMessage }}</p>
  <div class="btn-toolbar justify-content-center mt-1">
    <div class="btn-group-sm" role="group">
      <button
        type="button"
        class="btn btn-primary me-2"
        (click)="undo()"
        [disabled]="previousStates.length === 0"
      >
        <i class="bi bi-arrow-90deg-left"></i> Undo
      </button>
      <button
        type="button"
        class="btn btn-primary m-1"
        (click)="redo()"
        [disabled]="futureStates.length === 0"
      >
        <i class="bi bi-arrow-90deg-right"></i> Redo
      </button>
      <button
        type="button"
        class="btn btn-warning m-1"
        (click)="moveCompletedToArchive()"
      >
        <i class="bi bi-arrow-down-square"></i> Archive
      </button>
      <button
        type="button"
        class="btn btn-secondary m-1"
        (click)="showMore = !showMore"
        *ngIf="!isLargeScreen"
      >
        <i
          class="bi"
          [ngClass]="showMore ? 'bi-chevron-down' : 'bi-chevron-up'"
        ></i>
        {{ showMore ? "Less" : "More" }}
      </button>
    </div>
    <div *ngIf="showMore" class="btn-group-sm" role="group">
      <button type="button" class="btn btn-success m-1" (click)="saveToDB()">
        <i class="bi bi-cloud-arrow-up"></i> Save to DB
      </button>
      <button
        type="button"
        class="btn btn-success m-1"
        (click)="refreshTasks()"
      >
        <i class="bi bi-arrow-clockwise"></i> Refresh
      </button>
      <button
        type="button"
        class="btn btn-warning m-1"
        (click)="deleteArchivedTasks()"
      >
        <i class="bi bi-trash3"></i> Delete Archived
      </button>
      <button
        type="button"
        class="btn btn-danger m-1"
        (click)="deleteAllTasks()"
      >
        <i class="bi bi-trash3-fill"></i> Delete All
      </button>
    </div>
  </div>
</div>
