<div class="container">
  <h1 class="mt-4">To-Do Application</h1>
  <hr />
  <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm" class="mt-4">
    <div class="form-group row justify-content-center">
      <div class="col-6">
        <input
          type="text"
          class="form-control col-10"
          id="task"
          placeholder="Enter task"
          ngModel
          name="task"
          required
        />
        <small
          id="errorMessage"
          class="form-text text-danger mt-1"
          *ngIf="taskForm.dirty && taskForm.invalid"
        >
          * Required Field
        </small>
      </div>
      <div class="col-2">
        <button
          type="submit"
          class="btn btn-primary col"
          [disabled]="taskForm.invalid"
        >
          Submit
        </button>
      </div>
    </div>
  </form>

  <hr />

  <h3 class="text-center display-5">Current Tasks</h3>

  <div class="col" *ngFor="let t of taskArray; index as i">
    <div
      class="form-group row justify-content-center mt-2"
      *ngIf="!t.isArchived"
    >
      <div class="col-4">
        <input
          #taskInput
          type="text"
          class="form-control"
          [value]="t.taskName"
          [readOnly]="!t.isEditable"
          [ngClass]="{
            edit: t.isEditable,
            'not-edit': !t.isEditable,
            crossed: t.isCompleted
          }"
          (keyup.enter)="onSave(t.id, taskInput.value)"
        />
      </div>
      <div class="col-2">
        <div class="btn-group mr-2" role="group" style="width: 160px">
          <button
            type="button"
            class="btn btn-outline-success w-50"
            (click)="onCheck(t.id)"
            *ngIf="!t.isCompleted"
          >
            <i class="bi bi-check-circle-fill"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-warning w-50"
            (click)="onCheck(t.id)"
            *ngIf="t.isCompleted"
          >
            <i class="bi bi-check-circle"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-primary w-25"
            (click)="onEdit(t.id)"
            *ngIf="!t.isEditable"
          >
            <i class="bi bi-pencil"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-warning w-25"
            (click)="onSave(t.id, taskInput.value)"
            *ngIf="t.isEditable"
          >
            <i class="bi bi-floppy"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-danger w-25"
            (click)="onDelete(t.id)"
          >
            <i class="bi bi-trash3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center display-6 mt-5">Archived Tasks</h2>

  <div class="col" *ngFor="let t of taskArray; index as i">
    <div
      class="form-group row justify-content-center mt-2"
      *ngIf="t.isArchived"
    >
      <div class="col-4">
        <input
          #taskInput
          type="text"
          class="form-control"
          [value]="t.taskName"
          [readOnly]="!t.isEditable"
          [ngClass]="{
            edit: t.isEditable,
            'not-edit': !t.isEditable,
            crossed: t.isCompleted
          }"
          (keyup.enter)="onSave(t.id, taskInput.value)"
        />
      </div>
      <div class="col-2">
        <div class="btn-group mr-2" role="group" style="width: 160px">
          <button
            type="button"
            class="btn btn-outline-warning w-50"
            (click)="onUndoCheck(t.id)"
          >
            <i class="bi bi-arrow-up-square"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-primary w-25"
            (click)="onEdit(t.id)"
            *ngIf="!t.isEditable"
          >
            <i class="bi bi-pencil"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-warning w-25"
            (click)="onSave(t.id, taskInput.value)"
            *ngIf="t.isEditable"
          >
            <i class="bi bi-floppy"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-danger w-25"
            (click)="onDelete(t.id)"
          >
            <i class="bi bi-trash3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-bottom bg-secondary-subtle">
  <div class="btn-toolbar justify-content-center mb-2 mt-2">
    <div class="btn-group-sm" role="group">
      <button
        type="button"
        class="btn btn-primary me-2"
        (click)="undo()"
        [disabled]="previousStates.length === 0"
      >
        <i class="bi bi-arrow-90deg-left"></i> Undo
      </button>
      <button
        type="button"
        class="btn btn-primary me-2"
        (click)="redo()"
        [disabled]="futureStates.length === 0"
      >
        <i class="bi bi-arrow-90deg-right"></i> Redo
      </button>
      <button
        type="button"
        class="btn btn-success me-2"
        (click)="refreshTasks()"
      >
        <i class="bi bi-arrow-clockwise"></i> Refresh
      </button>
      <button
        type="button"
        class="btn btn-warning me-2"
        (click)="moveCompletedToArchive()"
      >
        <i class="bi bi-arrow-down-square"></i> Move Complete
      </button>
      <button
        type="button"
        class="btn btn-warning me-2"
        (click)="deleteArchivedTasks()"
      >
        <i class="bi bi-trash3"></i> Delete Archived
      </button>
      <button
        type="button"
        class="btn btn-danger me-2"
        (click)="deleteAllTasks()"
      >
        <i class="bi bi-trash3-fill"></i> Delete All
      </button>
    </div>
  </div>
</div>
