h1 {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
}

#taskInTable {
  max-width: 300px;
}

#delete,
#edit,
#save {
  width: 60px;
}

.edit {
  border: solid 2px orange;
}

.not-edit {
  border: none;
}

.crossed {
  text-decoration: line-through;
}
